.container
    .well
        form.form-horizontal(name="profileForm")
            fieldset
                legend User Profile
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="email" ng-model="email")
                .form-group
                    label.col-md-2.control-label(for="firstName") First Name
                    .col-md-10
                        input.form-control(name="firstName", type="text", placeholder="firstName" ng-model="firstName")
                .form-group
                    label.col-md-2.control-label(for="lastName") Last Name
                    .col-md-10
                        input.form-control(name="lastName", type="text", placeholder="lastName" ng-model="lastName")
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="password" ng-model="password")
                .form-group
                    .pull-right
                        button.btn.btn-primary(ng-click="update()") Update
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel